POSTGRES_HOST =
POSTGRES_PORT =
POSTGRES_DB =
POSTGRES_USER =
POSTGRES_PASSWORD =
DB_CONNECTION_TIMEOUT =

MAIL_SERVICE =
MAIL_HOST =
MAIL_PORT =
MAIL_SECURE =
MAIL_USER =
MAIL_PASSWORD =

ROOT_URL =
PORT =
KEY_LOCATION =
CERT_LOCATION =

HTTPONLY = 
SECURE = 
SAMESITE = 
JWT_SECRET = 